{% extends 'base.html.twig' %}

{% block title %}Hello CompaniesController!{% endblock %}

{% block body %}
<div class="row content">
    <div class="col-3">
        <div class="filter">
            <h2 class="opis">Фильтр:</h2>
            <form action="/companies" method="GET" class="filterForm">
                <p>Название по алфавиту:</p>
                <p>От: <input type="text" name="filterFirm[firstLit]" pattern="[A-Za-zА-Яа-яЁё]"
                              value="">
                </p>
                <p>До: <input type="text" name="filterFirm[lastLit]" pattern="[A-Za-zА-Яа-яЁё]"
                              value="">
                </p>
                <p class="opis">Колличество сотрудников</p>
                <div class="count">
                    <p>От: <input type="range" min="0" max="100" id="chisloOt" name="filterFirm[chisloOt]"
                                  value="">
                        <span id="outputOt"><?php echo $filterCompany['chisloOt'];?></span>/100
                    </p>
                    <p>До: <input type="range" min="0" max="100" id="chisloDo" name="filterFirm[chisloDo]"
                                  value="">
                        <span id="outputDo"><?php echo $filterCompany['chisloDo'];?></span>/100
                    </p>
                </div>
                <input type="submit" name="subFilterFirm" value="Отправить">
                <input type="submit" name="resetFilterFirm" value="Сброс">
            </form>
        </div>
    </div>
    <div class="col-9 blockContent">

        <div class="row rowContent">
            {% for company in paginat %}
                <div class="col-4">
                    <div class="row">
                        <img src="/images/{{ company.logo }}" alt="" class="logoCompany">
                        <h2>{{ company.firmName }}</h2>
                    </div>
                    <p>
                        {{ company.description }}
                        <button><a href="{{ path('viewCompany', {'id': company.id}) }}">View more</a></button>
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="row navigation">
            {{ knp_pagination_render(paginat) }}
        </div>
    </div>
</div>
{% endblock %}
